# Exclude node_modules directory
extra/
frontend/node_modules/
.vscode/
t19/
__pycache__/**
backend/application/__pycache__/
backend/application/views/__pycache__/
backend/tests/unit/__pycache__/
backend/tests/__pycache__/
backend/databases
*.log
*.exe
*.bat
*.bak
*.csv

