supportTicketVenv
*.bat
*.exe
.DS_Store
.vscode
.DS_Store
node_modules
extra
__pycache__
*.pyc
/dist
venv
backend/env

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*:Zone.Identifier
*.bat
*.exe
*.pyc